<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />

    <title>结婚礼金</title>
  </head>
  <body>
    <div id="app">
      <el-form :model="form" label-width="auto" ref="ruleFormRef">
        <el-form-item label="" prop="name">
          <el-input v-model="form.name" placeholder="搜索姓名">
            <template #append>
              <el-button type="primary" v-on:click="searchName">
                搜索姓名
              </el-button>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item label="" prop="money">
          <el-input v-model="form.money" placeholder="搜索金额">
            <template #append>
              <el-button type="primary" v-on:click="searchMoney">
                搜索金额
              </el-button>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item label="">
          <span>总人数: {{ VTableData.length }}</span>
          <span style="float: right">总金额: {{ totalMoney }}</span>
        </el-form-item>
        <el-form-item label="">
          <el-button type="primary" v-on:click="resetForm" style="width: 100%"
            >重置</el-button
          >
        </el-form-item>
      </el-form>
      <el-table :data="VTableData" :border="true">
        <el-table-column prop="name" label="姓名"></el-table-column>
        <el-table-column prop="money" label="金额"></el-table-column>
        <el-table-column prop="remark" label="是否还礼" width="100">
          <template slot-scope="scope">
            <span v-if="scope.row.is_salute" style="color: green">已还礼</span>
            <span v-else></span>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
      new Vue({
        el: "#app",
        data () {
          return {
            list: [
              { name: "蔡昌友", money: 400, is_salute: true },
              { name: "蔡家春", money: 300, is_salute: false },
              { name: "蔡家红", money: 500, is_salute: true },
              { name: "蔡世友", money: 300, is_salute: true },
              { name: "蔡友琴", money: 500, is_salute: false },
              { name: "曹文香", money: 1000, is_salute: true },
              { name: "曹元友", money: 400, is_salute: false },
              { name: "常家坤", money: 300, is_salute: false },
              { name: "常其国", money: 300, is_salute: true },
              { name: "常启超", money: 200, is_salute: true },
              { name: "常友海", money: 300, is_salute: false },
              { name: "陈彬", money: 600, is_salute: true },
              { name: "陈茂军", money: 300, is_salute: true },
              { name: "陈美俊", money: 500, is_salute: false },
              { name: "陈月彬", money: 300, is_salute: true },
              { name: "陈月学", money: 300, is_salute: false },
              { name: "单其富", money: 300, is_salute: true },
              { name: "单义红", money: 300, is_salute: true },
              { name: "邓刚", money: 300, is_salute: false },
              { name: "邓恒玉", money: 1000, is_salute: true },
              { name: "邓祥福", money: 400, is_salute: true },
              { name: "邓祥贵", money: 300, is_salute: true },
              { name: "邓祥举", money: 300, is_salute: true },
              { name: "邓祥启", money: 600, is_salute: true },
              { name: "邓祥生", money: 400, is_salute: true },
              { name: "邓义祥", money: 300, is_salute: false },
              { name: "邓月刚", money: 1000, is_salute: true },
              { name: "邓月红", money: 400, is_salute: true },
              { name: "邓月龙", money: 200, is_salute: true },
              { name: "邓月芝", money: 500, is_salute: false },
              { name: "邓云洲", money: 600, is_salute: true },
              { name: "第一庄园", money: 400, is_salute: true },
              { name: "丁焕友", money: 300, is_salute: false },
              { name: "丁宁", money: 500, is_salute: false },
              { name: "董德龙", money: 300, is_salute: true },
              { name: "董立富", money: 300, is_salute: false },
              { name: "董立全", money: 300, is_salute: false },
              { name: "董士俊", money: 300, is_salute: false },
              { name: "董世明", money: 3000, is_salute: false },
              { name: "董正军", money: 300, is_salute: true },
              { name: "董仲友", money: 300, is_salute: false },
              { name: "段清忠", money: 1000, is_salute: true },
              { name: "段文昌", money: 500, is_salute: false },
              { name: "樊泽富", money: 300, is_salute: true },
              { name: "樊泽军", money: 300, is_salute: true },
              { name: "樊泽俊", money: 300, is_salute: true },
              { name: "付东升", money: 1000, is_salute: true },
              { name: "高宝子", money: 300, is_salute: true },
              { name: "高传凯", money: 300, is_salute: false },
              { name: "高传乐", money: 300, is_salute: false },
              { name: "高启红", money: 300, is_salute: false },
              { name: "葛言括", money: 300, is_salute: true },
              { name: "龚光红", money: 300, is_salute: true },
              { name: "龚光乐", money: 500, is_salute: true },
              { name: "龚光新", money: 500, is_salute: true },
              { name: "龚光宇", money: 1000, is_salute: true },
              { name: "谷云军", money: 500, is_salute: true },
              { name: "桂景兵", money: 400, is_salute: true },
              { name: "郭华明", money: 400, is_salute: true },
              { name: "韩志超", money: 300, is_salute: false },
              { name: "韩志宏", money: 200, is_salute: false },
              { name: "韩志华", money: 300, is_salute: true },
              { name: "韩志俊", money: 300, is_salute: true },
              { name: "韩志林", money: 300, is_salute: true },
              { name: "韩志明", money: 300, is_salute: true },
              { name: "韩志强", money: 200, is_salute: true },
              { name: "何学海", money: 2000, is_salute: true },
              { name: "鸿鑫精剪理发店", money: 300, is_salute: false },
              { name: "胡德平", money: 300, is_salute: true },
              { name: "胡德喜", money: 400, is_salute: true },
              { name: "胡国亚", money: 300, is_salute: false },
              { name: "胡建才", money: 500, is_salute: true },
              { name: "胡应田", money: 300, is_salute: true },
              { name: "胡佑刚", money: 1000, is_salute: false },
              { name: "花乃春", money: 200, is_salute: true },
              { name: "黄国林", money: 5000, is_salute: true },
              { name: "黄家强", money: 300, is_salute: true },
              { name: "黄庆功", money: 600, is_salute: true },
              { name: "黄庆菊", money: 500, is_salute: false },
              { name: "黄庆军", money: 500, is_salute: true },
              { name: "黄庆中", money: 1000, is_salute: true },
              { name: "黄旺友", money: 500, is_salute: true },
              { name: "黄祖林", money: 300, is_salute: true },
              { name: "姬传军", money: 300, is_salute: false },
              { name: "季成霞", money: 300, is_salute: false },
              { name: "江学兵", money: 500, is_salute: true },
              { name: "姜德祥", money: 400, is_salute: true },
              { name: "姜明国", money: 300, is_salute: true },
              { name: "姜能峰", money: 500, is_salute: false },
              { name: "姜能广", money: 300, is_salute: false },
              { name: "姜能宽", money: 300, is_salute: false },
              { name: "蒋多红", money: 300, is_salute: true },
              { name: "蒋良昌", money: 500, is_salute: true },
              { name: "李百英", money: 300, is_salute: false },
              { name: "李德军", money: 400, is_salute: true },
              { name: "李德明", money: 300, is_salute: true },
              { name: "李峰", money: 3000, is_salute: true },
              { name: "李国林", money: 200, is_salute: true },
              { name: "李海龙", money: 400, is_salute: true },
              { name: "李红卫", money: 300, is_salute: true },
              { name: "李继友", money: 300, is_salute: false },
              { name: "李建文", money: 200, is_salute: false },
              { name: "李开学", money: 500, is_salute: false },
              { name: "李磊", money: 2000, is_salute: true },
              { name: "李明发", money: 300, is_salute: false },
              { name: "李如军", money: 200, is_salute: false },
              { name: "李恩才", money: 200, is_salute: false },
              { name: "李伟", money: 600, is_salute: true },
              { name: "李文成", money: 500, is_salute: true },
              { name: "李文德", money: 300, is_salute: true },
              { name: "李文刚", money: 500, is_salute: true },
              { name: "李文中", money: 1000, is_salute: true },
              { name: "李旭杰", money: 2000, is_salute: false },
              { name: "李阳", money: 300, is_salute: false },
              { name: "李泽平", money: 300, is_salute: false },
              { name: "李长江", money: 200, is_salute: false },
              { name: "李长玉", money: 300, is_salute: false },
              { name: "李照海", money: 200, is_salute: false },
              { name: "李志", money: 400, is_salute: false },
              { name: "李中海", money: 300, is_salute: false },
              { name: "刘成喜", money: 3000, is_salute: false },
              { name: "刘德才", money: 300, is_salute: false },
              { name: "刘德发", money: 500, is_salute: false },
              { name: "刘德文", money: 500, is_salute: false },
              { name: "刘德毅", money: 500, is_salute: false },
              { name: "刘厚才", money: 1000, is_salute: false },
              { name: "刘厚林", money: 1000, is_salute: false },
              { name: "刘慧玲", money: 1000, is_salute: false },
              { name: "刘满军", money: 300, is_salute: false },
              { name: "刘培红", money: 300, is_salute: false },
              { name: "刘培金", money: 300, is_salute: false },
              { name: "刘庆刚", money: 300, is_salute: false },
              { name: "刘胜昌", money: 300, is_salute: false },
              { name: "刘幸福", money: 300, is_salute: false },
              { name: "刘义", money: 600, is_salute: false },
              { name: "刘玉安", money: 300, is_salute: false },
              { name: "刘玉红", money: 300, is_salute: false },
              { name: "刘志友", money: 300, is_salute: false },
              { name: "卢然", money: 2000, is_salute: false },
              { name: "卢照山", money: 500, is_salute: false },
              { name: "罗明海", money: 300, is_salute: false },
              { name: "马典树", money: 3000, is_salute: false },
              { name: "马海鹏", money: 2000, is_salute: false },
              { name: "马海燕", money: 2000, is_salute: false },
              { name: "马红生", money: 300, is_salute: false },
              { name: "马红子", money: 600, is_salute: false },
              { name: "马家乐", money: 1000, is_salute: false },
              { name: "梅建平", money: 600, is_salute: false },
              { name: "倪奎", money: 500, is_salute: false },
              { name: "宁永保", money: 500, is_salute: false },
              { name: "裴青红", money: 300, is_salute: false },
              { name: "裴青丽", money: 300, is_salute: false },
              { name: "裴青明", money: 400, is_salute: false },
              { name: "裴青山", money: 300, is_salute: false },
              { name: "裴青松", money: 1000, is_salute: false },
              { name: "裴青祥", money: 500, is_salute: false },
              { name: "裴清山", money: 300, is_salute: false },
              { name: "裴泽国", money: 300, is_salute: false },
              { name: "裴泽红", money: 600, is_salute: false },
              { name: "裴泽军", money: 2000, is_salute: false },
              { name: "裴泽敏", money: 400, is_salute: false },
              { name: "裴泽新", money: 300, is_salute: false },
              { name: "裴祖刚", money: 800, is_salute: false },
              { name: "裴祖强", money: 800, is_salute: false },
              { name: "彭德龙", money: 300, is_salute: false },
              { name: "彭义成", money: 300, is_salute: false },
              { name: "彭义学", money: 300, is_salute: false },
              { name: "钱明卫", money: 300, is_salute: false },
              { name: "屈人德", money: 300, is_salute: false },
              { name: "屈中全", money: 500, is_salute: false },
              { name: "尚兴安", money: 600, is_salute: false },
              { name: "沈庆海", money: 300, is_salute: false },
              { name: "石颜龙", money: 600, is_salute: false },
              { name: "史少轩", money: 300, is_salute: false },
              { name: "宋明月", money: 200, is_salute: false },
              { name: "孙凤俊", money: 400, is_salute: false },
              { name: "孙凤明", money: 400, is_salute: false },
              { name: "孙凤平", money: 300, is_salute: false },
              { name: "孙福田", money: 300, is_salute: false },
              { name: "孙粮(新河)", money: 200, is_salute: false },
              { name: "孙日新", money: 400, is_salute: false },
              { name: "孙士红", money: 200, is_salute: false },
              { name: "孙双子", money: 300, is_salute: false },
              { name: "孙伟", money: 300, is_salute: false },
              { name: "孙武先", money: 500, is_salute: false },
              { name: "孙幸福", money: 300, is_salute: false },
              { name: "孙玉良", money: 300, is_salute: false },
              { name: "孙云才", money: 300, is_salute: false },
              { name: "孙云超", money: 600, is_salute: false },
              { name: "孙云江", money: 300, is_salute: false },
              { name: "孙志国", money: 300, is_salute: false },
              { name: "台建括", money: 600, is_salute: false },
              { name: "田明保", money: 500, is_salute: false },
              { name: "田明举", money: 300, is_salute: false },
              { name: "田明科", money: 500, is_salute: false },
              { name: "童明刚", money: 400, is_salute: false },
              { name: "童明伟", money: 300, is_salute: false },
              { name: "万国平", money: 300, is_salute: false },
              { name: "万永禄", money: 300, is_salute: false },
              { name: "汪德军", money: 300, is_salute: false },
              { name: "汪德中", money: 300, is_salute: false },
              { name: "汪海强", money: 2000, is_salute: false },
              { name: "王春乐", money: 300, is_salute: false },
              { name: "王复生", money: 500, is_salute: false },
              { name: "王广友", money: 300, is_salute: false },
              { name: "王贵军", money: 400, is_salute: false },
              { name: "王如平", money: 300, is_salute: false },
              { name: "王士刚", money: 300, is_salute: false },
              { name: "王世江", money: 400, is_salute: false },
              { name: "王世全", money: 400, is_salute: false },
              { name: "王松", money: 3000, is_salute: false },
              { name: "王文刚", money: 300, is_salute: false },
              { name: "王文俊", money: 500, is_salute: false },
              { name: "王永超", money: 300, is_salute: false },
              { name: "王玉乐", money: 500, is_salute: false },
              { name: "文学军", money: 300, is_salute: false },
              { name: "文永丙", money: 300, is_salute: false },
              { name: "吴道芳", money: 300, is_salute: false },
              { name: "吴道军", money: 300, is_salute: false },
              { name: "吴道宽", money: 300, is_salute: false },
              { name: "吴道文", money: 300, is_salute: false },
              { name: "吴道云", money: 300, is_salute: false },
              { name: "吴德海", money: 1000, is_salute: false },
              { name: "吴德红", money: 300, is_salute: false },
              { name: "吴光才(新庄)", money: 300, is_salute: false },
              { name: "吴光杰", money: 500, is_salute: false },
              { name: "吴光友", money: 300, is_salute: false },
              { name: "吴国春", money: 600, is_salute: false },
              { name: "吴国军", money: 300, is_salute: false },
              { name: "吴宏", money: 300, is_salute: false },
              { name: "吴显华", money: 600, is_salute: false },
              { name: "吴显全", money: 300, is_salute: false },
              { name: "吴信江", money: 300, is_salute: false },
              { name: "吴信凯", money: 300, is_salute: false },
              { name: "吴毅刚", money: 300, is_salute: false },
              { name: "吴玉强", money: 500, is_salute: false },
              { name: "吴玉清", money: 300, is_salute: false },
              { name: "吴正华", money: 300, is_salute: false },
              { name: "吴正军", money: 300, is_salute: false },
              { name: "吴正奎", money: 600, is_salute: false },
              { name: "吴正龙", money: 300, is_salute: false },
              { name: "吴正宇", money: 300, is_salute: false },
              { name: "吴志安", money: 400, is_salute: false },
              { name: "吴志国", money: 600, is_salute: false },
              { name: "吴志平", money: 300, is_salute: false },
              { name: "夏德才", money: 300, is_salute: false },
              { name: "夏德成", money: 500, is_salute: false },
              { name: "夏德春", money: 300, is_salute: false },
              { name: "夏德金", money: 300, is_salute: false },
              { name: "夏德军", money: 200, is_salute: false },
              { name: "夏德俊", money: 300, is_salute: false },
              { name: "夏德全", money: 300, is_salute: false },
              { name: "夏德生", money: 300, is_salute: false },
              { name: "夏德喜", money: 800, is_salute: false },
              { name: "夏金山", money: 300, is_salute: false },
              { name: "谢春俊", money: 400, is_salute: false },
              { name: "谢德刚", money: 300, is_salute: false },
              { name: "谢光友", money: 200, is_salute: false },
              { name: "谢文", money: 500, is_salute: false },
              { name: "熊德国", money: 400, is_salute: false },
              { name: "熊德辉", money: 500, is_salute: false },
              { name: "熊德清", money: 400, is_salute: false },
              { name: "熊登国", money: 300, is_salute: false },
              { name: "熊登平", money: 600, is_salute: false },
              { name: "徐少银", money: 1000, is_salute: false },
              { name: "徐西伟", money: 1000, is_salute: false },
              { name: "徐应保", money: 300, is_salute: false },
              { name: "徐应兵", money: 300, is_salute: false },
              { name: "徐应华", money: 300, is_salute: false },
              { name: "徐应平", money: 300, is_salute: false },
              { name: "徐应友", money: 300, is_salute: false },
              { name: "徐应中", money: 300, is_salute: false },
              { name: "许东辉", money: 300, is_salute: false },
              { name: "许东林", money: 300, is_salute: false },
              { name: "许永发", money: 300, is_salute: false },
              { name: "许中胜", money: 300, is_salute: false },
              { name: "严飞", money: 1000, is_salute: false },
              { name: "阎勇", money: 2000, is_salute: false },
              { name: "杨传兵", money: 500, is_salute: false },
              { name: "杨志友", money: 300, is_salute: false },
              { name: "姚凤兴", money: 300, is_salute: false },
              { name: "姚启括", money: 400, is_salute: false },
              { name: "姚志然", money: 300, is_salute: false },
              { name: "叶炳生", money: 500, is_salute: false },
              { name: "叶兆国", money: 300, is_salute: false },
              { name: "易善军", money: 500, is_salute: false },
              { name: "尹锋", money: 200, is_salute: false },
              { name: "尹光兵", money: 300, is_salute: false },
              { name: "尹光才", money: 500, is_salute: false },
              { name: "尹光福", money: 600, is_salute: false },
              { name: "尹光华", money: 200, is_salute: false },
              { name: "余朝海", money: 500, is_salute: false },
              { name: "余闯", money: 300, is_salute: false },
              { name: "余多多", money: 1000, is_salute: false },
              { name: "余峰", money: 1000, is_salute: false },
              { name: "余士明", money: 300, is_salute: false },
              { name: "余文凯", money: 400, is_salute: false },
              { name: "余文学", money: 300, is_salute: false },
              { name: "张德学", money: 300, is_salute: false },
              { name: "张付杰", money: 300, is_salute: false },
              { name: "张贵宾", money: 2000, is_salute: false },
              { name: "张贵刚", money: 500, is_salute: false },
              { name: "张国芳", money: 300, is_salute: false },
              { name: "张浩良", money: 300, is_salute: false },
              { name: "张华芳", money: 400, is_salute: false },
              { name: "张建敏", money: 300, is_salute: false },
              { name: "张杰", money: 1000, is_salute: false },
              { name: "张克宝", money: 400, is_salute: false },
              { name: "张玲玲", money: 300, is_salute: false },
              { name: "张强", money: 500, is_salute: false },
              { name: "张庆书", money: 1000, is_salute: false },
              { name: "张荣兵", money: 300, is_salute: false },
              { name: "张邵华", money: 1000, is_salute: false },
              { name: "张邵敏", money: 1000, is_salute: false },
              { name: "张邵如", money: 2000, is_salute: false },
              { name: "张伟", money: 1000, is_salute: false },
              { name: "张绪贵", money: 1000, is_salute: false },
              { name: "张亚男", money: 1000, is_salute: false },
              { name: "张亚州", money: 500, is_salute: false },
              { name: "张研红", money: 200, is_salute: false },
              { name: "张玉彬", money: 500, is_salute: false },
              { name: "张泽玉", money: 600, is_salute: false },
              { name: "张正江", money: 300, is_salute: false },
              { name: "张志平", money: 500, is_salute: false },
              { name: "张志洋", money: 600, is_salute: false },
              { name: "张中军", money: 300, is_salute: false },
              { name: "赵丛国", money: 500, is_salute: false },
              { name: "郑广霞", money: 300, is_salute: false },
              { name: "郑花道", money: 400, is_salute: false },
              { name: "郑太华", money: 300, is_salute: false },
              { name: "周德桥", money: 1000, is_salute: false },
              { name: "周红杰", money: 500, is_salute: false },
              { name: "周红军", money: 300, is_salute: false },
              { name: "周红林", money: 5000, is_salute: false },
              { name: "周红山", money: 400, is_salute: false },
              { name: "周红永", money: 300, is_salute: false },
              { name: "周坤", money: 2000, is_salute: false },
              { name: "周满锋", money: 300, is_salute: false },
              { name: "周满义", money: 300, is_salute: false },
              { name: "周培星", money: 200, is_salute: false },
              { name: "周世辉", money: 300, is_salute: false },
              { name: "周文良", money: 300, is_salute: false },
              { name: "周现富", money: 200, is_salute: false },
              { name: "周学林", money: 200, is_salute: false },
              { name: "周学霞", money: 300, is_salute: false },
              { name: "周学义", money: 200, is_salute: false },
              { name: "周学友", money: 200, is_salute: false },
              { name: "周远刚(铁柱子)", money: 200, is_salute: false },
              { name: "周正刚", money: 200, is_salute: false },
              { name: "朱明强", money: 1000, is_salute: false },
              { name: "朱其如", money: 500, is_salute: false },
              { name: "朱武", money: 300, is_salute: false },
              { name: "朱义龙", money: 500, is_salute: false },
              { name: "朱泽军", money: 3000, is_salute: false },
              { name: "朱泽楼", money: 300, is_salute: false },
              { name: "祝德明", money: 300, is_salute: false },
              { name: "祝德平", money: 300, is_salute: false },
              { name: "祝德新", money: 300, is_salute: false },
              { name: "祝建", money: 300, is_salute: false },
              { name: "祝连", money: 300, is_salute: false },
              { name: "祝勇", money: 300, is_salute: false },
            ],
            form: {
              name: "",
              money: "",
            },
            VTableData: [],
          };
        },
        computed: {
          totalMoney() {
            return this.VTableData.reduce((a, b) => a + b.money, 0);
          },
        },
        mounted() {
          this.VTableData = this.list;
          // const arr = this.list.map((v) => v.name);

          // const findDuplicates = (arr) => {
          //   const unique = new Set();
          //   const duplicates = [];
          //   for (const item of arr) {
          //     if (unique.has(item)) {
          //       duplicates.push(item);
          //     } else {
          //       unique.add(item);
          //     }
          //   }
          //   return { unique: [...unique], duplicates };
          // };

          // 使用示例
          // const { unique, duplicates } = findDuplicates(arr);
          // console.log(unique, duplicates)

          // console.log([...new Set(arr)].length);
        },
        methods: {
          resetForm() {
            this.form = {
              name: "",
              money: "",
            };
            this.VTableData = this.list;
          },
          searchName() {
            this.VTableData = this.list.filter((item) => {
              return !this.form.name || item.name.includes(this.form.name);
            });
          },
          searchMoney() {
            this.VTableData = this.list.filter((item) => {
              return (
                !this.form.money ||
                Number(item.money) == Number(this.form.money)
              );
            });
          },
        },
      });
    </script>
  </body>
</html>
